.search-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 500px;
  gap: 13px;
  padding-right: 13px;

  background-color: burlywood;
  box-shadow: 0 3px 1px 0 black;
}

.search__input{
  padding: 13px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500px;
 border-right:  2px solid rgb(134, 82, 9);
}

.search__button{
  background: none;
  border: none;
  font-size:  1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(159, 90, 34);
}