.header{
  position: fixed;
  z-index: 1;
  width: 100%;

  background-color: rgb(144, 94, 21) ;
}

.header  > div{
   display:  flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px; 
}